/* .s,.y{
    color: brown;
}


 .y{
    color: blue;
}
.z{
    color: blueviolet;
}
.x{
    color: blue;
    font-size: 50px;
    text-transform: uppercase;

}

.para{
    color: rgb(233, 10, 10);
}

a{
    color: cornflowerblue;
}
a :hover{
    color: brown;
    f
} */
.x{
    width: 100px;
    height: 100px;
    background-color: blue;


}
a:hover{
    background-color: black;
}
.y{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 106);
    

}
.y:hover{
    background-color: rgb(179, 79, 79);
}

.z{ 
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 21);
}
.z:hover{
    background-color: rgb(44, 146, 204);
    width: 100px;
    height: 100px;
    transition: 1s;
    border-radius: 90%;

}